@import "colors.css";

* {
  font-family:
    "CaskaydiaCove Nerd Font Propo", "Noto Sans Mono CJK SC", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
}

window#waybar {
  background-color: alpha(@bg, 0.55);
  color: @fg;
  /*border-radius: 10px;*/
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin: 5px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: inherit;
}

#workspaces {
  margin: 5px;
  background-color: @bg-alt;
  border: 1px solid @border;
  border-radius: 2px;
  box-shadow: 0 4px 6px @shadow;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @fg;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

#workspaces button:hover {
  background: @border;
}

#workspaces button.focused {
  background-color: @workspace-focused-bg;
  box-shadow: inset 0 -3px @fg;
}

#workspaces button.active {
  background-color: @secondary;
  color: @on-accent;
}

#workspaces button.empty {
  color: @fg-alt;
}

#workspaces button.empty.active {
  background-color: @secondary;
  color: @on-accent;
}

#clock,
#pulseaudio,
#tray-expander,
#custom-power,
#custom-notification,
#mpris,
#custom-colorpicker,
#custom-wallpaper {
  padding: 0 10px;
  color: @fg;
  margin: 5px 5px 5px 0;
  background-color: @bg-alt;
  border: 1px solid @border;
  box-shadow: 0 4px 6px @shadow;
}

#custom-expand-icon {
  background: none;
}

#tray {
  color: @fg;
  padding-left: 10px;
}

#clock {
  background-color: @clock-bg;
}

label:focus {
  background-color: @on-accent;
}

#pulseaudio.muted {
  background-color: @secondary;
  color: @on-accent;
}

#custom-power {
  background-color: @secondary;
  color: @on-accent;
}

#custom-colorpicker {
  color: @accent;
}

#custom-wallpaper {
  color: @wallpaper-icon;
}

#custom-rofi {
  background-color: @accent;
  color: @on-accent;
  padding: 0 10px;
  margin: 5px 0 5px 5px;
  border: 1px solid @border;
  box-shadow: 0 4px 6px @shadow;
}

#mpris {
  color: @wallpaper-icon;
}

#mpris.paused {
  color: @fg-alt;
  font-style: italic;
}
