* {
  font-family: "CaskaydiaCove Nerd Font Propo", sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

window#waybar {
  background-color: #18181b;
  color: #ffffff;
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin: 5px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: inherit;
}

#workspaces {
  margin: 5px;
  background-color: #27272a;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

#workspaces button:hover {
  background: #3f3f46;
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
  background-color: #6cc0b7;
  color: #222;
}

#workspaces button.empty {
  color: #777;
}

#workspaces button.empty.active {
  background-color: #6cc0b7;
  color: #222;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#mode,
#power-profiles-daemon,
#tray,
#bluetooth,
#custom-power,
#custom-notification,
#custom-colorpicker {
  padding: 0 10px;
  color: #ffffff;
  margin: 5px 5px 5px 0;
}

#tray {
  background-color: #27272a;
}

#clock {
  background-color: #3f3f46;
}

#battery {
  background-color: #ffffff;
  color: #27272a;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #27272a;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #222;
  }
}

#battery.critical:not(.charging) {
  background-color: #f43f5e;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon.performance {
  background-color: #f43f5e;
  color: #222;
}

#power-profiles-daemon.balanced {
  background-color: #4881dd;
  color: #222;
}

#power-profiles-daemon.power-saver {
  background-color: #52c87d;
  color: #222;
}

label:focus {
  background-color: #222;
}

#cpu {
  background-color: #2ecc71;
  color: #222;
}

#memory {
  background-color: #c680e2;
}

#disk {
  background-color: #cc9053;
}

#network {
  background-color: #27272a;
}

#network.disconnected {
  background-color: #f43f5e;
  color: #222;
}

#bluetooth {
  background-color: #27272a;
}

#bluetooth.disabled {
  background-color: #f43f5e;
  color: #222;
}

#pulseaudio {
  background-color: #27272a;
}

#pulseaudio.muted {
  background-color: #f43f5e;
  color: #222;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #f43f5e;
}

#custom-power {
  background-color: #f43f5e;
  color: #222;
}

#custom-notification {
  background-color: #27272a;
}

#custom-colorpicker {
  background-color: #27272a;
  color: #c680e2;
}

#custom-rofi {
  background-color: #c680e2;
  color: #222;
  padding: 0 10px;
  margin: 5px 0 5px 5px;
}
