@import "colors.rasi"

configuration {
  font: "CaskaydiaCove Nerd Font Propo Medium 12";
  drun {
    display-name: "";
  }
  run {
    display-name: "";
  }
  window {
    display-name: "";
  }
  modi: "drun,run,window";
  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}

window {
  background-color: @bg;
  padding: 8px;
  transparency: "real";
  width: 40%;
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  children: [prompt, entry];
  background-color: @bg-alt;

  spacing: 0;
  margin: 0 0 8px 0;
}

entry {
  padding: 13px;
  background-color: @bg-alt;
  text-color: @fg;
}

prompt {
  background-color: @secondary;
  text-color: @bg;
  margin: 5px 0 5px 5px;
  padding: 8px 10px;
}

listview {
  lines: 8;
  scrollbar: true;
}

scrollbar {
  background-color: @bg-alt;
  handle-color: @accent;
  margin: 0 0 0 6px;
}

element {
  children: [element-icon, element-text];
}

element-icon {
  padding: 10px;
  size: 24;
}

element-text {
  padding: 15px 2px;
}

element-text selected {
  background-color: @bg-alt;
  text-color: @fg;
  border-radius: 0 5px 5px 0;
}

element-icon selected {
  background-color: @bg-alt;
  border-radius: 5px 0 0 5px;
}
