@import "colors.rasi"

configuration {
  font: "CaskaydiaCove Nerd Font Propo Medium 14";
  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}

window {
  background-color: @bg;
  padding: 8px;
  transparency: "real";
  width: 300;
}

mainbox {
  children: [listview];
}

listview {
  lines: 5;
}

element {
  children: [element-text];
}

element-icon {
  padding: 10px 10px;
}

element-text {
  padding: 10px 15px;
}

element-text selected {
  background-color: @accent;
  text-color: @bg;
  border-radius: 5px;
}
